<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nlove_inclass07.Properties.Settings.ConnectionString"
            connectionString="Data Source=184.168.194.55;Persist Security Info=True;User ID=Profmorris;Password=Lec2g#08"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>